---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'

---

<Layout title='Welcome to Astro.'>
  <Header
    title='Sherif Elmetwally'
    description='I’m a software engineer specialized in web technologies.'
  >
  </Header>

  <section>
    <h2>Projects</h2>
  </section>
</Layout>


