---
const { description, title } = Astro.props;
---
<header class="header">
  <h1 class="title">{title}</h1>
  <p class="description">
    {description}
  </p>
</header>

<style>

  .header {
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-family: var(--font-main);

    .title {
        color: var(--text2);
        font-size: 2.5rem;
  }
  .description {
    color: var(--text3);
    font-size: 1.5rem;
  }
  }
</style>
