---
const { description, title } = Astro.props;
---
<header class="header">
  <h1 class="title">{title}</h1>
  <p class="description">
    {description}
  </p>
  <slot />
</header>

<style>

  .header {
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-family: var(--font-main);

    .title {
        color: var(--text1);
        font-size: 2.5rem;
  }
  .description {
    color: var(--text2);
    font-size: 1.25rem;
  }
  }

  @media screen and (min-width: 768px) {
    .header {
      .title {
        font-size: 3rem;
      }
      .description {
        font-size: 1.5rem;
      }
    }
  }
</style>
