---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.astro'
---

<Layout title='Writing'>
  <Header
    title='Writing'
  ></Header>
  <section class="wrapper">
    <ul>
      <li>
        <a href="/writing/writing-arabic-in-english">
          <h3>Writing Arabic in English (2024)</h3>
          <p>My journey in creating a phonetic Arabic keyboard</p>
        </a>
      </li>
    </ul>
  </section>
</Layout>

<style>
  .wrapper {
    padding: 12px 32px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 8px;
  }
  a {
    color: var(--text2);
    font-family: var(--font-main);
    text-decoration: none;
    font-size: 1.5rem;
  }
  a:hover {
    text-decoration: underline;
  }
</style>