---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.astro'
import { Code } from 'astro:components'
---

<Layout title='Writing Arabic in English'>
    <Header title='Writing Arabic in English' />
    <div class='wrapper'>
        <h2>My journey in creating a phonetic Arabic keyboard</h2>
        <p class='text'>
          A phonetic keyboard is a type of keyboard layout designed to make typing in a particular language easier by mapping characters or letters to sounds rather than their traditional positions on the keyboard.        </p>
        <p class="text">
          This makes it
          easier for beginners or casual users to engage with the language
          without the learning curve of mastering an entirely different
          keyboard layout.
        </p>
        <p class='text'>
            However there a few problems we have to overcome when creating a phonetic Arabic keyboard.
        </p>
        <ul class='list'>
          <li><a href="#rtl">Arabic is written from right to left</a></li>
          <li>
            <a href="#cursive">Arabic is a cursive script</a>
          </li>
          <li>
            <a href="#mapping">Connecting English letters to sounds in Arabic</a>
          </li>
          <li>
            <a href="#other">Not all Arabic letters have an equivalent in English</a>
          </li>
          <li>
            <a href="#hamza">Arabic has a special character called Hamza</a>
          </li>
          <li>
            <a href="#diacritics">Arabic has diacritics to 
              provide pronunciation hints
            </a>
          </li>
          <li>
            <a href="#implementation">Technical details</a>
          </li>
        </ul>

        <section class='section' id="rtl">
            <h2>Arabic is written from right to left</h2>
            <p class='text'>
                This actually wasn't a
                problem as we could just use our old friend
<pre>
<code>
direction: rtl;
</code>
</pre>
            </p>
        </section>
        <section class="section" id="cursive">
            <h2>Arabic is a cursive script</h2>
            <p class='text'>
                This means letters are connected to
                eachother and look different depending on their position in a
                word.
            </p>
            <p class='text'>
                Lets take the letter <span lang='ar' class='arabic'>ب</span> (baa)
                for example.
            </p>
            <p class='text'>
                - Beginning of the word: <span lang='ar' class='arabic'
                    ><span class='highlight'>ب</span>يت
                </span>(house - byt)
            </p>
            <p class='text'>
                - Middle of the word: <span lang='ar' class='arabic'
                    >ح<span class='highlight'>ب</span>ي<span class='highlight'
                        >ب</span
                    >ي</span
                > (my love - habibi)
            </p>
            <p class='text'>
                - End of the word: <span lang='ar' class='arabic'
                    >كت<span class='highlight'>ب</span></span
                > (write - ktb)
            </p>
            <p class='text'>
                - Isolated: <span lang='ar' class='arabic'>
                    كِتَا<span class='highlight'>ب</span></span
                > (book - ktab)
            </p>

            <p class='text'>
                Luckily the web browser (mostly) handles this for us, so we
                don't have to worry about it. Thank you UTF-8.
            </p>
            <p class='text'>
                As an aside look at how the word for (write) <span
                    lang='ar'
                    class='arabic'>كت<span class='highlight'>ب</span></span
                > closely resembles the word for (book) <span
                    lang='ar'
                    class='arabic'>كِتَا<span class='highlight'>ب</span></span
                >. This is because Arabic is a root based language, where the meaning is derived from a root of 3 or 4 letters.
                <a
                    href='https://arabicforbeginners.com/topic/arabic-root-system-overview/'
                    target='_blank'
                >
                    More on that here
                </a>
            </p>
            <p class='text'>
                And don't mind the marks around the word (book) we will get to
                that in a bit.
            </p>
        </section>
        <section class='section' id="mapping">
            <h2>Mapping English to Arabic</h2>
            <p class='text'>
                If we want a phonetic keyboard we need to map arabic letters to
                the english keys in a way that makes sense for someone that is used to typing in english.
            </p>
            <p class='text'>
                So if someone types the letter <code>b</code>, we want to spit
                out the closest corresponding arabic letter-- in this case <span
                    lang='ar'
                    class='arabic'>ب</span
                > (baa).
            </p>
            <p class='text'>
                Lucky for us 17/28 arabic letters have a rough equivalent in
                english. And multiple english letters actually map to the same
                sound in arabic. (Click for audio)
            </p>
            <ul class='list grid'>
                <li>
                    <button value='alif' class='button letter-button'>
                        <code>a</code> = <span class='arabic'>ا</span> (alif)
                    </button>
                </li>
                <li>
                    <button value='ba' class='button letter-button'>
                        <code>b</code> = <span class='arabic'>ب</span> (baa)
                    </button>
                </li>
                <li>
                    <button value='ta' class='button letter-button'>
                        <code>t</code> = <span class='arabic'>ت</span> (ta)
                    </button>
                </li>
                <li>
                    <button value='jeem' class='button letter-button'>
                        <code>j</code> = <span class='arabic'>ج</span> (jeem)
                    </button>
                </li>
                <li>
                    <button value='dal' class='button letter-button'>
                        <code>d</code> = <span class='arabic'>د</span> (dal)
                    </button>
                </li>
                <li>
                    <button value='ra' class='button letter-button'>
                        <code>r</code> = <span class='arabic'>ر</span> (ra)
                    </button>
                </li>
                <li>
                    <button value='zay' class='button letter-button'>
                        <code>z</code> = <span class='arabic'>ز</span> (zay)
                    </button>
                </li>
                <li>
                    <button value='seen' class='button letter-button'>
                        <code>s,c</code> = <span class='arabic'>س</span> (seen)
                    </button>
                </li>
                <li>
                    <button value='fa' class='button letter-button'>
                        <code>f</code> = <span class='arabic'>ف</span> (fa)
                    </button>
                </li>
                <li>
                    <button value='qaf' class='button letter-button'>
                        <code>q</code> = <span class='arabic'>ق</span> (qaf)
                    </button>
                </li>
                <li>
                    <button value='kaf' class='button letter-button'>
                        <code>k</code> = <span class='arabic'>ك</span> (kaf)
                    </button>
                </li>
                <li>
                    <button value='lam' class='button letter-button'>
                        <code>l</code> = <span class='arabic'>ل</span> (lam)
                    </button>
                </li>
                <li>
                    <button value='meem' class='button letter-button'>
                        <code>m</code> = <span class='arabic'>م</span> (meem)
                    </button>
                </li>
                <li>
                    <button value='noon' class='button letter-button'>
                        <code>n</code> = <span class='arabic'>ن</span> (noon)
                    </button>
                </li>
                <li>
                    <button value='ha' class='button letter-button'>
                        <code>h</code> = <span class='arabic'>ه</span> (ha)
                    </button>
                </li>
                <li>
                    <button value='waw' class='button letter-button'>
                        <code>w,u,o</code> = <span class='arabic'>و</span> (waw)
                    </button>
                </li>
                <li>
                    <button value='yaa' class='button letter-button'>
                        <code>y,e,i</code> = <span class='arabic'>ي</span> (ya)
                    </button>
                </li>
            </ul>
            <p class='text'>
                This case is pretty simple to handle, we can just map the
                english letter to the arabic letter, and then write a simple
                lookup function.
            </p>
        </section>
        <section class='section' id="other">
            <h2>What about the other 11 letters?</h2>
            <p class='text'>
                I decided to break up these remaining 11 letters into two
                categories, the first category are the letters that bear some
                similarity to the simple letters we have already looked at.
            </p>
            <p class="text">
              For the sake of this post lets call these <b
              >"Emphatic"</b
          > letters, of which there are five.
            </p>
            <p class='text'>
                The second category are the letters that don't really bear any
                resemblance to english letters.
            </p>
            <h3>Emphatic Letters</h3>
            <p class='text'>
                These letters are pronounced from the back of the throat, and
                don't really have a direct equivalent in english, but they do
                bear some resemblance to other arabic letters in <i
                    >my opinion.</i
                >
            </p>
            <ul class='list grid'>
                <li>
                    <button value='haa' class='letter-button'>
                        <span class='arabic'>ح (haa)</span>
                    </button>
                </li>
                <li>
                    <button value='saad' class='letter-button'>
                        <span class='arabic'>ص (saad)</span>
                    </button>
                </li>
                <li>
                    <button value='dhaad' class='letter-button'>
                        <span class='arabic'>ض (daad)</span>
                    </button>
                </li>
                <li>
                    <button value='taa' class='letter-button'>
                        <span class='arabic'>ط (taa)</span>
                    </button>
                </li>
                <li>
                    <button value='dhaa' class='letter-button'>
                        <span class='arabic'>ظ (dhaa)</span>
                    </button>
                </li>
            </ul>
            <p class='text'>
                If you are being very generous I think you can recognize some
                similarities between these letters and some of the simpler
                letters we have already looked it.
            </p>
            <p class='text'>
                To me ح, ص, ض, ط, and ظ are similar-sh to ه, س, د, ت, and ز
                respectively. Just with a little more umph.
            </p>
            <p class='text'>What do you think? (Click on the letters for audio)</p>
            <ul class="list-row-wrapper">
                <li class='list-row'>
                    <button value='haa' class='letter-button'>
                        <span class='arabic'>ح (haa)</span>
                    </button>
                    <p>is a stronger version of</p>

                    <button value='ha' class='button letter-button'>
                        <span class='arabic'>ه (ha)</span> <b>h</b>
                    </button>
                </li>
                <li class='list-row'>
                    <button value='saad' class='letter-button'>
                        <span class='arabic'>ص (saad)</span>
                    </button>
                    <p>is a stronger version of</p>
                    <button value='seen' class='button letter-button'>
                        <span class='arabic'>س (seen) </span> <b>s</b>
                    </button>
                </li>
                <li class='list-row'>
                    <button value='dhaad' class='letter-button'>
                        <span class='arabic'>ض (daad)</span>
                    </button>
                    <p>is a stronger version of</p>
                    <button value='dal' class='button letter-button'>
                        <span class='arabic'>د (dal)</span> <b>d</b>
                    </button>
                </li>
                <li class='list-row'>
                    <button value='taa' class='letter-button'>
                        <span class='arabic'>ط (taa)</span>
                    </button>
                    <p>is a stronger version of</p>
                    <button value='ta' class='button letter-button'>
                        <span class='arabic'>ت (ta)</span> <b>t</b>
                    </button>
                </li>

                <p class='text'>
                    <i>This is probably the most questionable one of all 👇</i>
                </p>
                <li class='list-row'>
                    <button value='dhaa' class='letter-button'>
                        <span class='arabic'>ظ (dhaa)</span>
                    </button>
                    <p>is a stronger version of</p>
                    <button value='zay' class='button letter-button'>
                        <span class='arabic'>ز (zay)</span> <b>z</b>
                    </button>
                </li>
            </ul>
            <p class='text'>
                Anyway. You can probably see where I am going with this. We can
                map these emphatic letters to the uppercase versions of the
                letters they resemble.
            </p>
            <p class='text'>
                So <span class='arabic'>ح, ص, ض, ط,</span> and <span
                    class='arabic'>ظ</span
                > would map to T, D, S, H, Z respectively.
            </p>
            <p class='text'>
                In our code we keep each row of the keyboard as two arrays, one
                for the base case, and one for when the user is holding shift--
                or has pressed caps lock. And then swap between the two arrays
                depending on the state of the keyboard.
            </p>
            <p class='text'>
                And then we can reuse our lookup function from before
            </p>
            <h3>Unique letters</h3>
            <p class='text'>
                I don't have a good name for these letters... lets call them
                "Unique" letters, of which there are six. These letters don't
                really have a equivalent in english, and don't really bear any
                resemblance to the letters we have already looked at.
            </p>
            <ul class='list grid'>
                <li>
                    <button value='sheen' class='letter-button'>
                        <span class='arabic'>ش (sheen)</span>
                    </button>
                </li>
                <li>
                    <button value='dhaa' class='letter-button'>
                        <span class='arabic'>ذ (dha)</span>
                    </button>
                </li>
                <li>
                    <button value='tha' class='letter-button'>
                        <span class='arabic'>ث (tha)</span>
                    </button>
                </li>
                <li>
                    <button value='khaa' class='letter-button'>
                        <span class='arabic'>خ (khaa)</span>
                    </button>
                </li>
                <li>
                    <button value='ayn' class='letter-button'>
                        <span class='arabic'>ع (ayn)</span>
                    </button>
                </li>
                <li>
                    <button value='ghayn' class='letter-button'>
                        <span class='arabic'>غ (ghayn)</span>
                    </button>
                </li>
            </ul>
            <p class='text'>
                So yeah, these letters are a bit of a problem. So we have to get
                a bit creative.
            </p>
            <p class='text'>
                However if you notice. The shape of these letters look similar
                to ones we have already seen. Just with some dots sprinkled on
                top.
            </p>
            <ul>
                <li class='list-row'>
                    <button value='seen' class='button letter-button'>
                        <span class='arabic'>س (seen - s)</span>
                    </button>
                    <p>+ some dots gives us</p>
                    <button value='sheen' class='letter-button'>
                        <span class='arabic'>ش (sheen)</span>
                    </button>
                </li>
                <li class='list-row'>
                    <button value='dal' class='button letter-button'>
                        <span class='arabic'>د (dal - d)</span>
                    </button>
                    <p>+ one dot gives us</p>
                    <button value='dhaa' class='letter-button'>
                        <span class='arabic'>ذ (dha)</span>
                    </button>
                </li>
                <li class='list-row'>
                    <button value='ta' class='button letter-button'>
                        <span class='arabic'>ت (ta - t)</span>
                    </button>
                    <p>+ one dot gives us</p>
                    <button value='tha' class='letter-button'>
                        <span class='arabic'>ث (tha)</span>
                    </button>
                </li>
                <li class='list-row'>
                    <button value='haa' class='button letter-button'>
                        <span class='arabic'>ح (haa - H)</span>
                    </button>
                    <p>+ one dot gives us</p>
                    <button value='khaa' class='letter-button'>
                        <span class='arabic'>خ (khaa)</span>
                    </button>
                </li>
                <i class='text'
                    >I ended up just using g for ayn. I dont really have a good
                    reason but I needed a key</i
                >
                <li class='list-row'>
                    <button value='ayn' class='button letter-button'>
                        <span class='arabic'>ع (ayn - g)</span>
                    </button>
                    <p>+ one dot gives us</p>
                    <button value='ghayn' class='letter-button'>
                        <span class='arabic'>غ (ghayn)</span>
                    </button>
                </li>
            </ul>
            <p class='text'>
                So how can we sprinkle dots? Because we are quickly running out
                of keys
            </p>
            <p class='text'>
                I landed on <code>'</code> as being our dot sprinkler. So <code
                    >s'</code
                > would give us <span class='arabic'>ش</span> (sheen).
            </p>
            <p>
                <code>H'</code> would give us <span class='arabic'>خ</span>
                <i>(remember capital H because this is emphatic)</i>
            </p>
            <p>
                <code>t'</code> would give us <span class='arabic'>ث</span> etc...
            </p>
            <p class='text'>
                I think you can see how we're quickly coming up with our own
                little shorthand
            </p>
            <p class='text'>
                Okay thats a lot of reading, how about we take a break and do
                some writing using the keyboard below.
            </p>
            <p class='text'>
                Why dont you try writing my name <b>Sherif</b>
                <code>s'ryf</code>
            </p>
            <p class='text'>Or <b>house</b> -- <code>byt</code></p>
            <p class='text'>Or <b>dog</b> -- <code>klb</code></p>
            <p class='text'>
                Or <b>I like to drink tea</b> -- <code>ana bHb as'rb s'ay</code>
                <ul>
                    <li><span class='arabic'>أنا</span> (ana) = I</li>
                    <li><span class='arabic'>بحب</span> (bahib) = like</li>
                    <li><span class='arabic'>أشرب</span> (ashrab) = drink</li>
                    <li><span class='arabic'>شاي</span> (shay) = tea</li>
                </ul>
            </p>
            <p class='text'>
                PS. Notice the little mark above the first <span class='arabic'
                    >ا</span
                > in I, and drink? Thats <b>Hamza </b><span class='arabic'
                    >ء</span
                >. We will get to him in a bit.
            </p>
            <p class='text'>
                PPS. Notice how the word for tea <span class='arabic'>شاي</span>
                (shay) is somewhat similar to chai, or tea even.
            </p>
            <arabic-keyboard showEnglishValue='true' showShiftedValue='true'
            ></arabic-keyboard>
            <p class="text">
              There we go, we are now able to write all 28 arabic letters, but there is still more to be done!
            </p>
        </section>
        <section class='section' id="hamza">
            <h2>Hamza <span class='diacritic'>ء</span></h2>
            <p class='text'>
                Hamza is the unofficial 29th letter of the arabic alphabet. It
                is used to represent a glottal stop.
            </p>
            <p class='text'>
                It can appear with three letters. <span class='diacritic'
                    >ا</span
                > (alif), <span class='diacritic'>و</span> (waw), and <span
                    class='diacritic'>ي</span
                > (ya).
            </p>
            <p class='text'>
                Above or below alif it is written as <span class='diacritic'
                    >أ</span
                > or <span class='diacritic'>إ</span>
            </p>
            <p class='text'>
                Above waw it is written as <span class='diacritic'>ؤ</span>
            </p>
            <p class='text'>
                Above ya it is written as <span class='diacritic'>ئ</span>. This
                version is often used at the middle or end of a word.
            </p>
            <p class='text'>
                So how can we represent hamza in our keyboard? I decided on <code
                    >-</code
                > to represent hamza. And if you are adding hamza to a letter you
                can simply type <code>--</code>
            </p>
            <p class='text'>
                Since hamza can appear above or below Alif, <code>A--</code> will
                give us <span class='diacritic'>أ</span> and <code>a--</code> will
                give us <span class='diacritic'>إ</span>
            </p>

            <p class='text'>
                Lets look at some examples shall we. Lets try typing on our
                keyboard below.
            </p>
            <p class='text'>
                - Why dont you try writing the name <b>Ahmed</b>
                <code>A--Hmd</code>
            </p>
            <p class='text'>
                - Or Ra'is <code>ry--ys</code> which means president
            </p>
            <p class='text'>
                - or Izzay <code>a--zay</code> "How?"
            </p>
            <arabic-keyboard showEnglishValue='true' showShiftedValue='true'
            ></arabic-keyboard>

            <p class='text'>
                So that's it, we are now Hamza compatible. Not the most
                interesting feature, but a necessary one.
            </p>
        </section>
        <section class='section' id="diacritics">
            <h2>Diacritics</h2>
            <p class='text'>
                Remember those marks we saw earlier around <span
                    class='diacritic'>كِتَاب</span
                >. The things below the first letter and above the second
                letter.
            </p>
            <p class="text">
              Those are diacritics.
            </p>
            <p class='text'>
                Arabic diacritics are marks that placed on or
                around the letter than can define how the word can be
                pronounced, therefore how they can be understood.
            </p>
            <p class='text'>
                Arabic is a consonant based language, and short vowels are often
                left out of written text. However they are important for
                pronunciation and grammar. Sometimes they are used to
                differentiate between words that are spelled the same but have
                different meanings.
            </p>
            <h3>Lets look an example</h3>
            <p class='text'>
                <span class='diacritic'>كَتَب </span>
                <span class='arabic'>(katab) - "He wrote."</span>
            </p>
            <p class='text'>
                <span class='diacritic'>كُتُب </span><span class='arabic'
                    >(kutub) - "Books."</span
                >
            </p>
            <p class='text'>
                To cut to the chase, we will be using <code>=</code> as our hotkey
                for diacritics.
            </p>
            <p class='text'>
                The diacritics we will implement are the following:
            </p>
            <div class='diacritic-wrapper'>
                <h3>Fatha (short a)</h3>
                <div class='row'>
                    <div class='big-diacritic'>َ</div>
                    <div>
                        <p class='text'>
                            This mark is written as a very tiny line above the
                            letter. Fatḥah is what makes the sound pronounced as
                            an extra (a) sound added to the word. You can
                            consider the A in the word ‘car’ a Fatḥah.
                        </p>
                        <p class='text'>
                            Since this mark is used to indicate a short "a", we
                            can type <span class='arabic'>a=</span> to add a Fatḥah
                            to the letter.
                        </p>
                    </div>
                </div>
            </div>
            <div class='diacritic-wrapper'>
                <h3>Kasrah (short i)</h3>
                <div class='row'>
                    <div class='big-diacritic'>ِ</div>
                    <div>
                        <p class='text'>
                            This mark is written as a very tiny line below the
                            letter. Kasrah is what makes the sound pronounced as
                            an extra (i) sound added to the word. You can
                            consider the I in the word ‘sit’ a Kasrah.
                        </p>
                        <p class='text'>
                            Since this mark is used to indicate a short "i", we
                            can type <span class='arabic'>i=</span> to add a Kasrah
                            to the letter.
                        </p>
                    </div>
                </div>
            </div>
            <div class='diacritic-wrapper'>
                <h3>Dhammah (short u)</h3>
                <div class='row'>
                    <div class='big-diacritic'>ُ</div>
                    <div>
                        <p class='text'>
                            This mark is written as a very tiny <i
                                >I dont know</i
                            > above the letter. Dhammah is what makes the sound pronounced
                            as an extra (u) sound added to the word.
                        </p>
                        <span class='diacritic'>كُتُب </span><span
                            class='arabic'
                            >(kutub) - "Books." is a good example here</span
                        >
                        <p class='text'>
                            Since this mark is used to indicate a short "u", we
                            can type <span class='arabic'>u=</span> to add a Dhammah
                            to the letter.
                        </p>
                    </div>
                </div>
            </div>
            <div class='diacritic-wrapper'>
                <h3>Sukun (de-emphasize)</h3>
                <div class='row'>
                    <div class='big-diacritic'>ْ</div>
                    <div>
                        <p class='text'>
                            This mark is written as a very tiny circle above the
                            letter. Sukun is what makes the sound pronounced as
                            a stop. It is used to indicate that a letter is not
                            followed by a vowel.
                        </p>
                        <p class='text'>
                            We can type <span class='arabic'>h=</span> to add a Sukun
                            to the letter. I'm not sure how I landed on h, but I
                            did.
                        </p>
                    </div>
                </div>
            </div>
            <div class='diacritic-wrapper'>
                <h3>Shaddah (emphasize)</h3>
                <div class='row'>
                    <div class='big-diacritic'>ّ</div>
                    <div>
                        <p class='text'>
                            This mark is written as a very tiny squiggle above
                            the letter. Shaddah is what makes the sound
                            pronounced as an extra emphasis on the letter. It is
                            used to indicate that a letter is doubled.
                        </p>
                        <p class='text'>
                            Since the name of this mark starts with the letter
                            s, we can type <span class='arabic'>s=</span> to add
                            a Shaddah to the letter.
                        </p>
                    </div>
                </div>
            </div>
            <h3>Tanwin</h3>
            <p class='text'>
                He is written above the final letter of a word . It is
                pronounced as the letter AN, IN, or UN added to a word, and
                comes in three forms.
            </p>
            <div class='diacritic-wrapper'>
                <h3>Tanwin (an)</h3>
                <div class='row'>
                    <div class='big-diacritic'>ً</div>
                    <div>
                        <p class='text'>
                            Tanween is always added to the last letter of the
                            word. In this case it adds an "an" sound to the
                            word.
                        </p>
                        <p class='text'>
                            If you notice it looks like two Fathas <span
                                class='diacritic'>َ</span
                            >, which gave us our short a sound
                        </p>
                        <p class='text'>
                            Since this mark is used to indicate a short "an", we
                            can type <span class='arabic'>an=</span> to add a Tanween
                            to the letter.
                        </p>
                    </div>
                </div>
            </div>
            <div class='diacritic-wrapper'>
                <h3>Tanwin (in)</h3>
                <div class='row'>
                    <div class='big-diacritic'>ٍ</div>
                    <div>
                        <p class='text'>
                            In this case it adds an "in" sound to the word.
                        </p>
                        <p class='text'>
                            If you notice it looks like two Kasrahs <span
                                class='diacritic'>ِ</span
                            >, which gave us our short i sound
                        </p>
                        <p class='text'>
                            Since this mark is used to indicate a short "in", we
                            can type <span class='arabic'>in=</span> to add a Tanween
                            to the letter.
                        </p>
                    </div>
                </div>
            </div>
            <div class='diacritic-wrapper'>
                <h3>Tanwin (un)</h3>
                <div class='row'>
                    <div class='big-diacritic'>ٌ</div>
                    <div>
                        <p class='text'>
                            In this case it adds an "un" sound to the word.
                        </p>
                        <p class='text'>
                            If you notice it sorta kinda looks like two
                            Dhammahs, <span class='diacritic'>ُ</span> which gave
                            us our short u sound
                        </p>
                        <p class='text'>
                            Since this mark is used to indicate a short "un", we
                            can type <span class='arabic'>un=</span> to add a Tanween
                            to the letter.
                        </p>
                    </div>
                </div>
            </div>
            <p class='text'>Lets take a look at some examples.</p>
            <p class='text'>
                The word for bag is Shanta, and is written as <span
                    class='arabic'>شنطة</span
                > (s'nTh') but without diacritics we lose some pronunciation hints.
            </p>
            <p class='text'>
                Here it is with diacritics <span class='diacritic'>شَنْطَة</span
                > (shanta)
            </p>
            <p class='text'>
                Lets try typing it without diacritics first <code>s'nTh'</code>
            </p>
            <p class='text'>
                And now with diacritics <code>s'a=nh=Th'</code>
            </p>
            <p class='text'>
                If you press the audio button in the keyboard you can hear the
                slight difference in pronunciation.
            </p>
            <p class='text'>
                Lets write a longer sentence now. Lets try, I like tea with
                milk.
                <span class='arabic'> أَنَا بَحِبّ الشاي بِاللِّبَن </span> (ana
                bahib al shay bil laban) <br />

                We can write that on our keyboard with full diacritics as
                <br />
                <code> A--a=na=a ba=Hi=bs= als'ay bi=alla=s=ba=n </code>
            </p>
            <arabic-keyboard showEnglishValue='true' showShiftedValue='true'></arabic-keyboard>

            <p class="text">
              So there we go, we can now write arabic in english, kinda. Is it a good idea? Is it practical? I don't know. But it was fun to work on.
            </p>
        </section>

        <section class="section" id="implementation">
          <h2>Implementation</h2>
          <p class="text">
            The keyboard was built using web components for ease of portability. You can view the  <a href="https://github.com/selmetwa/arabic-virtual-keyboard" target="blank">source code here</a>
          </p>
          <p class="text">
            It can be easily added to any website by adding the following code to your html file.
<pre>
<Code code={`
<script type="module" src="https://cdn.jsdelivr.net/npm/arabic-virtual-keyboard/+esm"></script>
<arabic-keyboard></arabic-keyboard>
`} lang="html">
</pre>

            Or you can install it via npm
<pre>
<Code code={`
npm i arabic-virtual-keyboard
`} lang="bash">
</pre>
</p>
<p class="text">
  You can read more about the project here
  <a href="https://selmetwa.github.io/arabic-virtual-keyboard-demo/" target="_blank">Documentation</a>
</p>
<p class="text">
  The keyboard is used throughout one of my personal projects. Parallel Arabic-- which is a language learning platform for Egyptian Arabic.
  <a href="https://parallel-arabic.com/about" target="_blank">Check it out here</a>
</p>
        </section>
    </div>
</Layout>

<style>
  a {
    color: var(--link)!important;
  }
  .list-row-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  li {
    font-size: 1.25rem;
    color: var(--text2);
    transition: color 0.3s;

    &:hover {
      color: var(--text3);
    }
  }
    .wrapper {
        padding: 12px 8px;
        font-family: var(--font-main);
        color: var(--text2);
    }

    .text {
        padding: 12px 0;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    code {
        background-color: var(--tile4);
        color: var(--text1);
        font-size: 1rem;
        padding: 8px;
        text-wrap: wrap;
    }
    .section {
        margin: 24px 0;
    }
    .highlight {
        color: var(--link)
    }

    .arabic {
        font-size: 2rem;
    }

    .diacritic {
        font-size: 5rem;
    }

    .diacritic-wrapper {
        padding: 12px;
        border: 1px solid var(--tile5);
        background-color: var(--tile4);
        > h3 {
            font-size: 3rem;
        }
        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    h3 {
        font-size: 2rem;
        padding: 12px 0 0 0;
    }
    .big-diacritic {
        font-size: 15rem;
        width: 500px;
    }
    .grid {
        margin: 24px 0;
        display: grid;
        gap: 24px;
        list-style: none;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }
    .letter-button {
        white-space: nowrap;
        background-color: var(--tile3);
        outline: none;
        border: none;
        cursor: pointer;
        color: var(--text2);
        transition: background-color 0.3s;
        &:hover {
            background-color: var(--tile4);
        }
    }

    .list-row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        white-space: nowrap;
        align-items: center;
        border: 2px dotted var(--tile5);
    }

    @media screen and (min-width: 768px) {
        .list-row {
          border: none;
            flex-direction: row;
        }
        .wrapper {
            padding: 12px 32px;
        }
    }
    a {
        text-decoration: underline;
        color: var(--text2);
        transition: color 0.3s;

        &:hover {
            color: var(--text3);
        }
    }
</style>

<script>
    const letterButtons = document.querySelectorAll('.letter-button')

    letterButtons.forEach((button) => {
        button.addEventListener('click', () => {
            const letter = (button as HTMLButtonElement).value
            playAudio(letter)
        })
    })

    function playAudio(letter: string) {
        const audio = new Audio(`/letters/audios/${letter}.mp3`)
        audio.play()
    }

    function updateKeyboardStyles() {
        const keyboards = Array.from(
            document.querySelectorAll('arabic-keyboard') as NodeListOf<HTMLElement>
        )

        if (keyboards.length === 0) {
            return
        }

        keyboards.forEach((keyboard) => {
            const tile1 =
                localStorage.getItem('tile1') ||
                getComputedStyle(document.body).getPropertyValue('--tile1')
            const tile3 =
                localStorage.getItem('tile3') ||
                getComputedStyle(document.body).getPropertyValue('--tile3')
            const tile4 =
                localStorage.getItem('tile4') ||
                getComputedStyle(document.body).getPropertyValue('--tile4')
            const tile5 =
                localStorage.getItem('tile5') ||
                getComputedStyle(document.body).getPropertyValue('--tile5')
            const tile6 =
                localStorage.getItem('tile6') ||
                getComputedStyle(document.body).getPropertyValue('--tile6')
            const text1 =
                localStorage.getItem('text1') ||
                getComputedStyle(document.body).getPropertyValue('--text1')
            const text3 =
                localStorage.getItem('text3') ||
                getComputedStyle(document.body).getPropertyValue('--text3')

            keyboard.style.setProperty('--button-background-color', tile4)
            keyboard.style.setProperty(
                '--button-active-background-color',
                tile5
            )
            keyboard.style.setProperty(
                '--button-active-border',
                `1px solid ${tile6}`
            )
            keyboard.style.setProperty('--button-hover-background-color', tile3)
            keyboard.style.setProperty('--textarea-background-color', tile1)
            keyboard.style.setProperty('--textarea-input-color', text1)
            keyboard.style.setProperty('--max-keyboard-width', '900px')
            keyboard.style.setProperty('--button-color', text1)
            keyboard.style.setProperty('--button-eng-color', text3)
            keyboard.style.setProperty('--button-shifted-color', text3)
        })
    }

    window.addEventListener('local-storage-update', (event) => {
        console.log('Storage event', event)
        updateKeyboardStyles()
    })

    document.addEventListener('DOMContentLoaded', () => {
        updateKeyboardStyles()
    })
</script>
